<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.littlebooks">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ikona"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.LittleBooks"
        android:usesCleartextTraffic="true">
        <activity android:name=".Settings"></activity>
        <activity android:name=".MainActivityT" />
        <activity
            android:name=".old.MainActivity2"
            android:label="@string/title_activity_main2" />
        <activity android:name=".DetailKnihy" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".LoginRegister" />
        <activity android:name=".MojeKnihy" />
        <activity android:name=".NewBook" />
        <activity android:name=".Account" />
        <activity android:name=".old.Obsah" />
        <activity android:name=".SplashAcitivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".old.MainActivity" />
    </application>

</manifest>